* {
	padding: 0;
	margin: 0;
}

.item {
	margin: 100px auto;
}

#item-one {
	width: 280px;
}

#item-one h3 {
	background-color: #ff3600;
	color: white;
	line-height: 46px;
	padding-left: 17px;
}

#item-one ul {
	list-style: none;
}

#item-one ul li a {
	display: block;
	line-height: 18px;
	text-decoration: none;
	color: #333;
	padding: 8px 0 8px 15px;
	border-left: 2px solid transparent;
}

#item-one ul li a:hover {
	color: #fe4d22;
	background-color: #f5f5fe;
	border-left: 2px solid red;
}

#item-one ul li a i {
	display: inline-block;
	vertical-align: bottom;
	width: 16px;
	height: 18px;
	margin-right: 15px;
}

#item-one ul li:nth-child(1) a i{
	background: url(../img/cts-191204144715892.png) no-repeat 0 0;
}

#item-one ul li:nth-child(1) a:hover i {
	background-position: -41px -42px;
}

#item-one ul li:nth-child(2) a i{
	background: url(../img/cts-191204144715892.png) no-repeat -41px 0;
}

#item-one ul li:nth-child(2) a:hover i {
	background-position: -85px -42px;
}

#item-one ul li:nth-child(3) a i{
	background: url(../img/cts-191204144715892.png) no-repeat -63px 0;
}

#item-one ul li:nth-child(3) a:hover i {
	background-position: 0px -62px;
}

#item-one ul li:nth-child(4) a i{
	background: url(../img/cts-191204144715892.png) no-repeat -84px 0;
}

#item-one ul li:nth-child(4) a:hover i {
	background-position: -64px -83px;
}

#item-one ul li:nth-child(5) a i{
	background: url(../img/cts-191204144715892.png) no-repeat 0px -20px;
}

#item-one ul li:nth-child(5) a:hover i {
	background-position: -20px -62px;
}

#item-one ul li:nth-child(6) a i{
	background: url(../img/cts-191204144715892.png) no-repeat -21px -18px;
}

#item-one ul li:nth-child(6) a:hover i {
	background-position: -41px -60px;
}

#item-one ul li:nth-child(7) a i{
	background: url(../img/cts-191204144715892.png) no-repeat -130px -20px;
}

#item-one ul li:nth-child(7) a:hover i {
	background-position: -130px -62px;
}

#item-one ul li:nth-child(8) a i{
	background: url(../img/cts-191204144715892.png) no-repeat -21px -18px;
}

#item-one ul li:nth-child(8) a:hover i {
	background-position: -41px -60px;
}

#item-one ul li:nth-child(9) a i{
	background: url(../img/cts-191204144715892.png) no-repeat -63px -19px;
}

#item-one ul li:nth-child(9) a:hover i {
	background-position: -41px -81px;
}

#item-one ul li:nth-child(10) a i{
	background: url(../img/cts-191204144715892.png) no-repeat -107px 0px;
}

#item-one ul li:nth-child(10) a:hover i {
	background-position: -107px -62px;
}

#item-two {
	width: 1207px;
}

#item-two ul {
	list-style: none;
	width: 100%;
	height: 106px;
	border: 1px solid #f2f2f2;
	background-color: #f6f6f6;
}

#item-two ul li {
	float: left;
	text-align: center;
}

#item-two ul li a {
	display: block;
	width: 150px;
	height: 78px;
	color: #333333;
	font-size: 14px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	border-right: 1px dashed #e5e5e5;
	padding-bottom: 6px;
	margin-top: 20px;
}

#item-two ul li a:hover {
	color: #fb4a4f;
	border-bottom: 2px solid #fc4a04;
}

#item-two ul li:last-child a {
	border-right: none;
}

#item-two ul li i {
	display: block;
	width: 32px;
	height: 36px;
	margin: 0 auto 12px;
	background-image: url(../img/cts-191204203359353.png);
}

#item-two ul li:nth-child(1) i {
	background-position: 0 0;
}

#item-two ul li:nth-child(1) a:hover i {
	background-position: 0 -44px;
}

#item-two ul li:nth-child(2) i {
	background-position: -40px 0;
}

#item-two ul li:nth-child(2) a:hover i {
	background-position: -40px -44px;
}


#item-two ul li:nth-child(3) i {
	background-position: -77px 6px;
}

#item-two ul li:nth-child(3) a:hover i {
	background-position: -77px -38px;
}

#item-two ul li:nth-child(4) i {
	background-position: -439px 8px;
}

#item-two ul li:nth-child(4) a:hover i {
	background-position: -439px -37px;
}

#item-two ul li:nth-child(5) i {
	background-position: -114px 6px;
}

#item-two ul li:nth-child(5) a:hover i {
	background-position: -114px -38px;
}

#item-two ul li:nth-child(6) i {
	background-position: -153px 15px;
}

#item-two ul li:nth-child(6) a:hover i {
	background-position: -153px -29px;
}

#item-two ul li:nth-child(7) i {
	background-position: -192px 6px;
}

#item-two ul li:nth-child(7) a:hover i {
	background-position: -192px -38px;
}

#item-two ul li:nth-child(8) i {
	background-position: -392px 4px;
}

#item-two ul li:nth-child(8) a:hover i {
	background-position: -392px -39px;
}
