body {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

#sign-up td:first-child {
	text-align: right;
}

#sign-up input:not([class="button-sign"]) {
	width: 220px;
	height: 25px;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	background-color: white;
}

.tipText {
	font-size: 10px;
	color: gray;
}

.botton-auth {
	width: 85px !important;
	box-sizing: content-box;
}

.button-sign {
	width: 80px;
	height: 35px;
	background-color: #3fa156;
	border: none;
	color: white;
}
